
.History {
    background-color: #FFDBDA;
    background-size: cover;
    border: none;
    margin: 0;
    padding:0px;
    height: 100vh; 
    overflow-y: auto;
    
    
}

.homeButton {
    color: #000000;
    text-decoration: none;
    font-family: 'Droid Sans';
    font-size: 20px;
    font-weight: 400;
    right: 50px;
    letter-spacing: 0;
    line-height: normal;
    top: 20px;
    width: 90px;
    padding: 20px 20px;
    position: absolute;
    
}
.homeButton:hover {
    color: rgb(87, 86, 86);;
    text-decoration: none;
    font-family: 'Droid Sans';
    font-size: 20px;
    font-weight: 400;
    right: 50px;
    letter-spacing: 0;
    line-height: normal;
    top: 20px;
    width: 90px;
    padding: 20px 20px;
    position: absolute;
    
}

.searchHistory {
    color: #000000;
    font-family: 'Droid Sans';
    font-size: 30px;
    font-weight: 800;
    margin-left:400px;
    width: 300px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
}

.record{
    margin-top: 50px;
    margin-left: 50px;
}