
.History {
    background-color: aliceblue;
    background-size: cover;
    border: none;
    margin: 0;
    padding:0px;
    height: 100vh; 
    overflow-y: auto;
    
    
}

.home2 {
    color: #000000;
    text-decoration: none;
    font-family: 'Droid Sans';
    font-size: 20px;
    font-weight: 400;
    left: 950px;
    letter-spacing: 0;
    line-height: normal;
    top: 30px;
    width: 90px;
    padding: 20px 20px;
    
}

.searchHistory {
    color: #000000;
    font-family: 'Droid Sans';
    font-size: 30px;
    font-weight: 800;
    margin-left:400px;
    width: 300px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; 
}

.record{
    margin-top: 40px;
    margin-left: 30px;
}